In [1]:
import pandas as pd
import numpy as np
import re

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)  # me muestre todas las columnas
#pd.set_option('display.max_rows', None)  # me muestre todas las filas

# pa pintar
import pylab as plt   # import matplotlib.pyplot as plt
import seaborn as sns

# para que salga el grafico
%matplotlib inline

In [2]:
df_origin = pd.read_csv('attacks.csv', encoding='latin1')
df = df_origin.copy()

In [3]:
df.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,NaN,"No injury, board bitten",N,NaN,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,Lower left leg bitten,N,17h00,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,12,Minor injury to foot,N,14h00,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0,NaN,NaN

In [4]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [6]:
df.shape

(25723, 24)

In [7]:
nan_cols = df.isna().sum()

nan_cols[nan_cols>0]

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [8]:
df.duplicated().any()

True

In [9]:
df = df.drop_duplicates()

In [10]:
df.shape, df_origin.shape

((6312, 24), (25723, 24))

In [11]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

### Número de nulos por cada columna

In [12]:
nan_cols = df.isna().sum()

nan_cols[nan_cols>0]

Case Number                  2
Date                        10
Year                        12
Type                        14
Country                     60
Area                       465
Location                   550
Activity                   554
Name                       220
Sex                        575
Age                       2841
Injury                      38
Fatal (Y/N)                549
Time                      3364
Species                   2848
Investigator or Source      27
pdf                         10
href formula                11
href                        10
Case Number.1               10
Case Number.2               10
original order               3
Unnamed: 22               6311
Unnamed: 23               6310
dtype: int64

In [13]:
df.reset_index(drop=True, inplace=True)

In [14]:
nan_rows = df.isna().sum(axis=1)

# Filtrar las filas con valores nulos
rows_with_nulls = nan_rows[nan_rows > 0]

rows_with_nulls.tail()

6307    22
6308    22
6309    23
6310    24
6311    23
dtype: int64

# 1. Limpieza de las columnas (Case Number, Date,	Year, Case Number.1,	Case Number.2,	original order,	Unnamed: 22,	Unnamed: 23	)

### Posición de los valores nulos en 'Date'

In [15]:
bad_index = df['Date'][df['Date'].isna()].index

bad_index

Int64Index([6302, 6303, 6304, 6305, 6306, 6307, 6308, 6309, 6310, 6311], dtype='int64')

In [16]:
# Obtener filas por índice o etiqueta de fila
df.loc[[6302, 6303, 6304, 6305, 6306, 6307, 6308, 6309, 6310, 6311]]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0,NaN,NaN
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6311,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### No hay ninguna, ya que los valores en las columnas 'Case Number' cuando 'Date' es nulo también so nulos

### Relleno los valores nulos de la columna 'Date'

In [17]:
df.drop(index=df[df['Date'].isna()].index, inplace=True)
df.shape

(6302, 24)

In [18]:
def clean_date(date):
    pattern = r'(\d{2})[/-](\w{3})[/-](\d{4})'  # Patrón regex para identificar la fecha
    match = re.match(pattern, date)  # Buscar el patrón en la fecha

    if match:
        day = match.group(1)  # Extraer el día
        month = match.group(2)  # Extraer el mes
        year = match.group(3)  # Extraer el año

        # Convertir el mes a formato deseado (en este caso, triple abreviatura)
        month_dict = {
            'Jan': 'Jan', 'Feb': 'Feb', 'Mar': 'Mar', 'Apr': 'Apr', 'May': 'May', 'Jun': 'Jun',
            'Jul': 'Jul', 'Aug': 'Aug', 'Sep': 'Sep', 'Oct': 'Oct', 'Nov': 'Nov', 'Dec': 'Dec'
        }

        if month in month_dict:
            month = month_dict[month]

        # Devolver la fecha en el formato deseado
        return f'{day}-{month}-{year}'

    else:
        return None  # Devolver None si no se encuentra el patrón en la fecha

In [19]:
df['Date'] = df['Date'].apply(clean_date)

df['Date'].head()

0    25-Jun-2018
1    18-Jun-2018
2    09-Jun-2018
3    08-Jun-2018
4    04-Jun-2018
Name: Date, dtype: object

In [20]:
df['Date'].isna().sum()

1549

### Cambio el tipo de dato de la columna 'Date' a datetime

In [21]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%b-%Y')

df['Date'].head()

0   2018-06-25
1   2018-06-18
2   2018-06-09
3   2018-06-08
4   2018-06-04
Name: Date, dtype: datetime64[ns]

## 1.1 Funcion para limpiar las columnas de 'Case Numbers_'

In [22]:
# limpio la columna con una funcion regex



def clean_date_case_number(case_number):
    case_number = str(case_number)
    pattern = r'(\d{4})\.(\d{2})\.(\d{2})'
    match = re.search(pattern, case_number)

    if match:
        year = int(match.group(1))
        month = int(match.group(2))
        day = int(match.group(3))

        if month == 0 or day == 0:
            return np.nan

        try:
            return pd.to_datetime(f'{year}-{month:02d}-{day:02d}')
        except ValueError:
            return np.nan
    else:
        return np.nan

In [23]:
df['Case Number'] = df['Case Number'].apply(clean_date_case_number)
df['Case Number'].head()

0   2018-06-25
1   2018-06-18
2   2018-06-09
3   2018-06-08
4   2018-06-04
Name: Case Number, dtype: datetime64[ns]

### Paso el tipo de dato de la columna 'Case Number' a datetime

In [24]:
df['Case Number'] = pd.to_datetime(df['Case Number'], format='%Y-%m-%d')
df['Case Number']

0      2018-06-25
1      2018-06-18
2      2018-06-09
3      2018-06-08
4      2018-06-04
          ...
6297          NaT
6298          NaT
6299          NaT
6300          NaT
6301          NaT
Name: Case Number, Length: 6302, dtype: datetime64[ns]

In [25]:
df['Case Number'].isna().sum()

880

### Relleno los valores nulos de 'Date' con los de 'Case Number'

In [26]:
df['Date'] = df['Date'].combine_first(df['Case Number'])

df['Date']

0      2018-06-25
1      2018-06-18
2      2018-06-09
3      2018-06-08
4      2018-06-04
          ...
6297          NaT
6298          NaT
6299          NaT
6300          NaT
6301          NaT
Name: Date, Length: 6302, dtype: datetime64[ns]

### valores nulos ahora despues de haber hecho el filtro

In [27]:
df['Date'].isna().sum()

875

In [28]:
df.drop(index=df[df['Date'].isna()].index, inplace=True)
df.shape

(5427, 24)

### Limpiar valores en 'Case Numbre.1'

In [29]:
df['Case Number.1'] = df['Case Number.1'].apply(clean_date_case_number)
df['Case Number.1'].head()

0   2018-06-25
1   2018-06-18
2   2018-06-09
3   2018-06-08
4   2018-06-04
Name: Case Number.1, dtype: datetime64[ns]

### Paso el tipo de dato de la columna 'Case Number.1' a datetime

In [30]:
df['Case Number.1'] = pd.to_datetime(df['Case Number.1'], format='%Y-%m-%d')
df['Case Number.1']

0      2018-06-25
1      2018-06-18
2      2018-06-09
3      2018-06-08
4      2018-06-04
          ...
6150   1753-10-27
6151   1751-07-27
6155   1742-12-17
6156   1738-04-06
6160   1703-03-26
Name: Case Number.1, Length: 5427, dtype: datetime64[ns]

### Relleno los valores nulos de 'Date' con los de 'Case Number.1'

In [31]:
df['Date'] = df['Date'].combine_first(df['Case Number.1'])

df['Date']

0      2018-06-25
1      2018-06-18
2      2018-06-09
3      2018-06-08
4      2018-06-04
          ...
6150   1753-10-27
6151   1751-07-27
6155   1742-12-17
6156   1738-04-06
6160   1703-03-26
Name: Date, Length: 5427, dtype: datetime64[ns]

### Limpiar valores en 'Case Numbre.2'

In [32]:
df['Case Number.2'] = df['Case Number.2'].apply(clean_date_case_number)
df['Case Number.2'].head()

0   2018-06-25
1   2018-06-18
2   2018-06-09
3   2018-06-08
4   2018-06-04
Name: Case Number.2, dtype: datetime64[ns]

### Paso el tipo de dato de la columna 'Case Number.2' a datetime

In [33]:
df['Case Number.2'] = pd.to_datetime(df['Case Number.2'], format='%Y-%m-%d')
df['Case Number.2']

0      2018-06-25
1      2018-06-18
2      2018-06-09
3      2018-06-08
4      2018-06-04
          ...
6150   1753-10-27
6151   1751-07-27
6155   1742-12-17
6156   1738-04-06
6160   1703-03-26
Name: Case Number.2, Length: 5427, dtype: datetime64[ns]

### Relleno los valores nulos de 'Date' con los de 'Case Number.2'

In [34]:
df['Date'] = df['Date'].combine_first(df['Case Number.2'])

df['Date']

0      2018-06-25
1      2018-06-18
2      2018-06-09
3      2018-06-08
4      2018-06-04
          ...
6150   1753-10-27
6151   1751-07-27
6155   1742-12-17
6156   1738-04-06
6160   1703-03-26
Name: Date, Length: 5427, dtype: datetime64[ns]

In [35]:
df['Date'].isna().sum()

0

### Reinicio el indice con las fechas ( hacer este paso al final, cuando el df esté limpio del todo)

In [36]:
df_indate = df.set_index('Date')
df_indate

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
Date,,,,,,,,,,,,,,,,,,,,,,,
2018-06-25,2018-06-25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-25,2018-06-25,6303.0,NaN,NaN
2018-06-18,2018-06-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-18,2018-06-18,6302.0,NaN,NaN
2018-06-09,2018-06-09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-09,2018-06-09,6301.0,NaN,NaN
2018-06-08,2018-06-08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-08,2018-06-08,6300.0,NaN,NaN
2018-06-04,2018-06-04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-04,2018-06-04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1753-10-27,1753-10-27,1753.0,Unprovoked,JAMAICA,NaN,Kingston Harbor,Fell overboard,male,M,NaN,FATAL,Y,NaN,NaN,"Maryland Gazette, 1/31/1754",1753.10.27.R-Jamaica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1753-10-27,1753-10-27,153.0,NaN,NaN
1751-07-27,1751-07-27,1751.0,Unprovoked,USA,Massachusetts,NaN,Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"Pennsylvania Gazette, 8/15/1751",1751.07.27-Massachusetts.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1751-07-27,1751-07-27,152.0,NaN,NaN
1742-12-17,1742-12-17,1742.0,Unprovoked,NaN,NaN,Carlisle Bay,Swimming,2 impressed seamen,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1742.12.17-AdviceSeamen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1742-12-17,1742-12-17,148.0,NaN,NaN
1738-04-06,1738-04-06,1738.0,Unprovoked,ITALY,Sicily,Strait of Messina,Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1738.04.06.R-Messina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1738-04-06,1738-04-06,147.0,NaN,NaN
1703-03-26,1703-03-26,1703.0,Unprovoked,BARBADOS,Southwest coast,Carlisle Bay,Swimming,"Samuel Jennings, a deserter from the British f...",M,19,"Hand and foot severely bitten, surgically ampu...",N,Night,NaN,"W.R.Cutter, Vol.1, p.252",1703.03.26-Jennings.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1703-03-26,1703-03-26,143.0,NaN,NaN

# 2. Limpiar Type

In [37]:
df['Type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

# 3. Limpiar Country, Location y Area

## 3.1 Country

In [38]:
df['Country'].unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'PUERTO RICO', 'ITALY',
       'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'FIJI', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA',
       'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)',
       'AZORES', 'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR',
       'PANAMA', 'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY',
       'YEMEN', 'Sierra Leone', 'ST. MAARTIN', 'GRAND CAYMAN',
       'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS',
       'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS',
       'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA', 'HONG KONG',
       'EL SALVADOR', 'CARIBBEAN SEA', 'BERMUDA', 'NAMIBIA', 'PORTUGAL',
       'SOUTH CHINA SEA', 'WESTERN SAMOA', 'PACIFIC OCEAN ',
       'BRITISH ISLES', 'PALAU', 'GRENADA', 'TURKEY', 'SINGAPORE',
       'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'NEW GUINEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES', 'SOUTH ATLANTIC OCEAN',
       'MID ATLANTIC OCEAN', 'PERSIAN GULF', 'PACIFIC OCEAN', 'SENEGAL',
       'NORTH SEA', 'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS',
       'GABON', 'MONTENEGRO', 'THE BALKANS', 'ARGENTINA', 'GUATEMALA',
       'NETHERLANDS ANTILLES', 'NORTH ATLANTIC OCEAN', 'IRAN',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'SIERRA LEONE',
       ' PHILIPPINES', 'CENTRAL PACIFIC', 'INDIAN OCEAN',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'NICARAGUA', 'IRAQ', 'ICELAND', 'ITALY / CROATIA',
       'BARBADOS', 'GUYANA', 'HAITI', 'IRELAND', 'KUWAIT', 'TUNISIA',
       'YEMEN ', 'CYPRUS', 'EGYPT ', 'WEST INDIES', 'BURMA', 'LEBANON',
       'MARTINIQUE', 'PARAGUAY', 'BRITISH NEW GUINEA', 'CEYLON',
       'GEORGIA', 'TUVALU', 'INDIAN OCEAN?', 'GUINEA',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA'], dtype=object)

In [39]:
 def obtener_primera_parte(cadena):
    cadena = str(cadena)
    match = re.search(r"[^\w\s]+", cadena)
    if match:
        return match.group(0)
    return cadena

In [40]:
df['Country'] = df['Country'].apply(obtener_primera_parte)
df['Country']

0             USA
1             USA
2             USA
3       AUSTRALIA
4          MEXICO
          ...
6150      JAMAICA
6151          USA
6155          nan
6156        ITALY
6160     BARBADOS
Name: Country, Length: 5427, dtype: object

In [41]:
df['Country'].unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', 'nan', 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', ',', 'COMOROS', 'REUNION', 'FRENCH POLYNESIA',
       'UNITED KINGDOM', 'UNITED ARAB EMIRATES', 'PHILIPPINES',
       'INDONESIA', 'CHINA', 'COLUMBIA', 'CAPE VERDE', 'Fiji',
       'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE',
       'PUERTO RICO', 'ITALY', 'ATLANTIC OCEAN', 'GREECE', '.', 'FRANCE',
       'PAPUA NEW GUINEA', '&', 'KIRIBATI', 'ISRAEL', 'DIEGO GARCIA',
       'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES', 'GUAM',
       'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND', 'CANADA',
       'CROATIA', 'FIJI', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', '(', 'AZORES', 'SOUTH KOREA', 'MALTA', 'VIETNAM',
       'MADAGASCAR', 'PANAMA', 'SOMALIA', 'NEVIS',
       'BRITISH VIRGIN ISLANDS', 'NORWAY', 'YEMEN', 'Sierra Leone',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS', '/',
       'NORTHERN ARABIAN SEA', 'HONG KONG', 'EL SALVADOR',
       'CARIBBEAN SEA', 'BERMUDA', 'NAMIBIA', 'PORTUGAL',
       'SOUTH CHINA SEA', 'WESTERN SAMOA', 'PACIFIC OCEAN ',
       'BRITISH ISLES', 'PALAU', 'GRENADA', 'TURKEY', 'SINGAPORE',
       'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'NEW GUINEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES', 'SOUTH ATLANTIC OCEAN',
       'MID ATLANTIC OCEAN', 'PERSIAN GULF', 'PACIFIC OCEAN', 'SENEGAL',
       'NORTH SEA', 'AMERICAN SAMOA', 'GABON', 'MONTENEGRO',
       'THE BALKANS', 'ARGENTINA', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTH ATLANTIC OCEAN', 'IRAN', 'NORTHERN MARIANA ISLANDS',
       'SIERRA LEONE', ' PHILIPPINES', 'CENTRAL PACIFIC', 'INDIAN OCEAN',
       'SOUTHWEST PACIFIC OCEAN', 'BAY OF BENGAL', 'NICARAGUA', 'IRAQ',
       'ICELAND', 'BARBADOS', 'GUYANA', 'HAITI', 'IRELAND', 'KUWAIT',
       'TUNISIA', 'YEMEN ', 'CYPRUS', 'EGYPT ', 'WEST INDIES', 'BURMA',
       'LEBANON', 'MARTINIQUE', 'PARAGUAY', 'BRITISH NEW GUINEA',
       'CEYLON', 'GEORGIA', 'TUVALU', '?', 'GUINEA', 'COOK ISLANDS',
       'TOBAGO', 'PERU', 'AFRICA', 'ALGERIA', 'Coast of AFRICA',
       'TASMAN SEA'], dtype=object)

## 3.2 Area

In [42]:
df['Area'].unique()

array(['California', 'Georgia', 'Hawaii', 'New South Wales', 'Colima',
       'Pernambuco', 'Florida', 'Queensland', 'South Carolina',
       'Cornwall', 'Eastern Cape Province', 'Hua Hin', 'Cocos Island',
       'Western Australia', 'Alifu Alifu Atoll', 'Western Cape Province',
       'New Providence', 'Alagoas', nan, 'Victoria', 'KwaZulu-Natal',
       'Boi Island, Victoria', 'Galapagos Islands', 'Fernando de Noronha',
       'Sepang', 'Holquin Province', 'Pamplemousses ', 'South Australia',
       'North Island', 'New York', 'Canary Islands', ' Upolu Island',
       'Westerm Australia', 'Shizuoka Prefecture', 'Texas', 'Castellón',
       'Massachusetts', 'Red Sea Protectorate', 'New Providence District',
       '40 miles off Grand Bahama Island', 'Ascension Island',
       'New Jersey', 'Majorca', 'Washington', 'Tabasco', 'Anjouan',
       'Ibiza Island', 'Marquesas', 'South Devon', 'New Providence ',
       'Sharjah, ', 'Baja California Sur', 'Saint-Leu', 'South Island',
       'Luzon Island', 'Great Exuma', 'Saint-Andre', 'Bimini', 'Bali',
       'Tuamotos', 'Oregon', 'North Province', 'New Providence Island',
       'Alicante Province', 'Hong Kong', 'Kochi Prefecture', 'Tasmania',
       'Abaco Islands', 'Alabama', 'North Carolina', 'Isla Provedencia',
       'Suez', 'Grand Terre', 'Boa Vista Island', 'Vanua Levu',
       'Santa Catarina State', 'South Province', 'Altagracia Province',
       'Grand Cayman', 'Balneário Camboriú', 'Fujairah Emirate',
       'Grand Canary Island', 'Inhambane Province', 'Phuket', 'Alicante',
       'Guanacaste', 'Bora Bora', 'Grand Bahama Island', 'Le Port',
       'Rangiroa', 'Saint-Gilles-les-Bains', 'Sardinia', 'Sinaloa',
       'Central Tuamotu', 'd\x92Étang-Salé', 'Granada',
       'Cargados Carajos Shoals (St. Brandon)', 'Moorea', 'Maryland',
       'Louisiana', 'West End', 'Delaware', 'Atsumi peninsula',
       'Palmyra Atoll', 'Wallis and Futuna', 'Baie de Sainte-Marie',
       'Society Islands', 'Trinidad', 'Okinawa Prefecture',
       '740 miles SE of Tarawa Atoll', 'Southern District',
       'Bay of Biscay', 'Quintana Roo', 'Exuma Islands', 'Saint-Paul',
       'Catalonia', 'Taitung ', 'Kingston Parish', 'Santa Cruz Island',
       'Saint-Gilles', 'Tuamotus', 'Eleuthera', 'St. Catherine',
       'Palawan', 'Mercury Islands', 'Delta', "Vava'u", 'Inner Hebrides',
       'Saint Leu', 'Trois-Bassins', 'British Colombia', 'Guerrero',
       'Saint-Benoit', 'Tabuk Province', 'Antofagasta Province',
       "St John's", 'Santa Elena', 'East New Britain', 'Bois-Blanc ',
       'Moray', 'Puerto Rico', 'Samaná Province', 'Coast Province',
       'Central Province', 'Primorsky Krai',
       'Peter the Great Bay, Khasan, Primorsky Krai (Far East)',
       'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)', 'Praslin',
       'Sucre', 'Middle Caicos', 'Caicos Bank', 'San Andrés archipelago',
       'Kedah', 'Umm al Qaywayan Province', 'Vitu Levu',
       'South Sinai Peninsula', ' Loyalty Islands', 'Saint Gilles ',
       'Maine', 'Virginia', "Ha'api ", 'Western Province',
       'Jeju Province', 'Binh Dinh Province', 'Antsiranana Province',
       'Sinai Peninsula', 'Off Vanua Levu', 'Merizo', 'Rio Grande Do Sul',
       'Dubai', 'Torres Strait', 'Eastern Province',
       'Eastern Cape  Province', 'Maputo Province', 'Bocas', 'Fife',
       'Devon', 'Makira-Ulawa Province', 'Mombasa', 'Catalunya',
       'St. Johns Reef', 'Off Green Island', 'North Region',
       'Batangas province', 'Strait of Malacca', 'Guantanamo Province',
       'Maranhão', 'Red Sea', 'Batanes Provine', 'Luzon',
       'Northern Territory', ' Split-Dalmatia Count,', 'North Devon',
       'US Virgin Islands', 'San Carlos', 'Cabo San Lucas', 'Bahia',
       'Easter Ross', 'Guerro', 'Yasawa Islands', 'Northern Bahamas',
       'Tokyo Bay', 'Green Bay', 'Loyalty Islands', 'Marovo Lagoon',
       'Territory of Cocos (Keeling) Islands', 'Oslo Fjord', 'Kent',
       'Bird Island', 'Providenciales', 'Muhafazat Hadramawt',
       'Cook islans', 'Surigao del Norte', 'Ambergris Caye',
       'Saint-Pierre', 'Kentucky', 'Andros Islands', 'Guam',
       'Western Area', '300 miles from Antigua', '800 miles from land',
       '600 nm west of the Canary Islands', 'Simpson Bay', 'East Wall',
       'Inner Islands', 'Shanghai', 'Malampa Province', 'Baja California',
       "South Ch'ungch'ong Province", 'Bay Islands', 'New Mexico',
       'Santa Isabel Province', 'Santiago de Cuba Province',
       'Camaguey Province', 'Conservatória District', 'South Carolina ',
       'Kuril Islands in the Pacific', 'Wakayama Prefecture',
       "Nuku'alofa", 'Saint-Benoît',
       'South Island, near Karitane north of Dunedin', 'Rocha',
       'Northlands', 'Anzoategui', 'Cook Islands', 'Tamil Nadu',
       'Taveuni', 'Johnston Atoll', 'Rio de Janeiro', 'Nueva Esparta',
       'Southland', 'North Pacific coast', 'Caroline Islands', 'Cheshire',
       'Louisiade Archipelago',
       'KwaZulu-Natal between Port Edward and Port St Johns',
       'Milne Bay Province', 'Cikobia Island (north of Vanua Levu)',
       'Rayong Province', 'Zamboanga del Sur Province',
       'Rio Grande de Norte',
       'Off the western coast of peninsular Malaysia', 'New Brunswick',
       'Miyako Island', 'Alaska', 'Minerva Reef', 'Madang Province',
       'Worcestershire', 'Phang nga Province', 'Adriatic Sea',
       'Ralik Chain', 'Grand Baie', "L' Etang Salé-les-Bains",
       'Southern Japan', 'Marches region', 'Berry Islands', 'Transvaal',
       'Gaza', "Grand'Anse", 'Miyako', "L'Etang-Sale", 'Chatham Islands ',
       'South Sinai, Gulf of Aqaba', 'Cat Cay', 'Missouri',
       '12 miles off the north coast', 'Saint-Paul ',
       'Chatham Islands, east of New  Zealand', 'Saint-Denis',
       'Vava\x92u', 'Mississippi', 'Clearwater Bay', 'New Territories',
       'Aichi Prefecture', 'Tafea Province', 'Kagoshima Prefecture',
       'Saint-Joseph', 'Banaadir Region', 'La Libertad', 'Costa Blanca',
       'Walkers Cay', 'Ehime Prefecture', 'Tongapatu Group',
       'Wakaya Island', 'North Carolina ', 'Antarctic Ocean',
       'La Saline-les-Bains', 'Ligurian Sea', "L'Etang-Salé",
       'Kowloon Peninsula', 'Port Shelter', 'Laucala Island',
       'Sainte-Marie', 'Great Exuma Island', 'Sainte-Suzanne', 'Tuscany',
       'Tyrrhenian Sea', 'Valpariso Province', 'Viscayan Sea',
       'Manfredonia ', 'Tokyo Prefecture', 'Saint-Louis', 'Mindoro',
       'Between DR and Puerto Rico', 'Between Honiara & Isabel Island',
       'Florida Straits', 'Cádiz', 'Andikira Fokithes',
       'Central Philippines', 'Rhode Island', 'Northwest Italy',
       'Kumamoto Prefecture', 'Saint-Philippe', 'Chungnam',
       'Eronogo Region', 'Coquimbo', "St. Mary's Parish",
       'Romblon Province', 'Lamu Archipelago', 'Los Vilos',
       'Madeira Islands', 'Ho Ha Wan Marine Park', 'Southern Thailand',
       'Golfo de Venezia', 'Ralik Archipelago',
       'South China Sea 200 miles from Hong Kong',
       'Reggio Calabria Province', 'Mirs Bay ', 'Genoa Province',
       ' Split-Dalmatia County', 'Florida ', 'Upolu Island',
       'Istria County', 'Inhambe Province', 'Namonuito Atoll',
       'Eastern Caroline Islands',
       'Western Caroline Islands (North Pacific Ocean)', 'Caribbean Sea',
       'St. Andrew Parish', 'Limpopo River', 'Clarendon', 'Moro Gulf',
       'Johor', 'Magdalena Department', 'Mafia Island', 'Gulf Province',
       'Morobe Province', 'Rombion Province', 'Veracruz',
       'Brindisi Province', 'New Ireland Province', 'Kagawa Prefecture',
       'Liguria', 'Hamilton', 'Mugla Province', 'New Britain',
       'Bay of Maputo', 'Bimini Islands', 'Duke of York Islands',
       'Primorje-Gorski Kotar County ', 'Taranto province',
       'Northern Taiwan', 'Admiralty Islands, Manus Province',
       'North Sumatra', "250 miles southwest of O'ahu, Hawaii",
       'West coast', 'East Sepik', 'Western Caroline Islands',
       'Bougainville (North Solomons)', 'Victoria ', 'Okayama Prefecture',
       'Connecticut', 'Lau Group', 'Caribbean Coast', 'Vita Levu',
       'Lomaloma, Lau', 'Between Southampton & Canary Islands',
       'South Coast, East New Britain', ' Lau Province', 'Sicily',
       'Ysabel Island', 'Thessaly', 'Lomaiviti  Island Group',
       'Rodrigues', 'Manus Island', 'Grand Turk Island',
       'Off coast of West Africa', 'Sharon', 'Antalya Province',
       'Northern District', 'New Ireland Province, Bismarck Archipelago',
       'Cyclades', 'Off the Coromandel Peninsula, North Island', 'Madang',
       '10ºS, 142ºE', 'Kwajalein Atoll', 'Guerrrero',
       'Western Luzon Island', '165  miles from Bermuda',
       '25 km off the coast of Iran & 483km from mouth of Persian Gulf',
       'Venice Province', 'Sandaun Province', 'Anatolia',
       'East New Britain Province', 'United Arab Emirates',
       'Wake Island (EnenKio)', 'Pennsylvania', '9.35N 79.35W',
       'Roncador Bank', '180 miles southeast of Okinawa',
       'Eniwetok Atoll', 'Cap-Vert Peninsula', 'Delagoa Bay',
       'In the English Channel ', 'Cook Strait',
       'Unknown, treated at Wick, SCOTLAND', 'Corregidor Island',
       'San Blas Islands', 'Paget', '33N, 68W', 'Casamance',
       'Madang (WO)', 'Between Timor & Darwin, Australia',
       'Rigo subdistrict', 'Masbate', 'Lomaiviti Province',
       'Leyte Island', 'Orissa', 'Hokkaido Prefecture', 'North Palawan',
       'Queaon', 'Istria', 'PANAMA', 'Mersin Province', 'Guyamas',
       'Mindanao', ' Kikori River mouth', 'Guadalcanal Province',
       'Ahirkapi coast', 'Tutuila Island', 'Primorje-Gorski Kotar County',
       'Between Hawaii & Wake Island', 'Taipei Hsien',
       'Ibaraki Prefecture', '1,000 miles east of Hawaii', 'Honiara',
       'Yucatan Channel', 'Viti Levu', 'Estuaire Province',
       'Near Dakar, Cap Vert Peninsula',
       'Near the Andaman & Nicobar Islands', 'St. Thomas Bay', 'Madeira',
       '1000 miles west of Hawaii', 'Izo Islands',
       ' Primorje-Gorski Kotar County', 'Aden', 'Wake Island',
       'Isle of Man', 'Zadar County', 'Nagasaki Prefecture', 'Liguaria',
       'Slovenia', 'South shore ', 'Buenos Aires Province',
       '330 to 350 miles east of Wake Island', 'Nova Scotia',
       'Gulf of Panama', 'Genoa  Province',
       'Abau Sub District, Central Province', 'Teramo', 'Curacao',
       'Port Louis Province', 'Bay of Maputu', 'Sofala Province',
       'Salerno', 'Salerno Province', 'Corfu Island', 'Taranto',
       'Naples Province', ' La Libertad', 'Sago Prefecture', 'Savona',
       'Calabria', 'Shatt-el-Arab River', 'Shatt-al-Arab River',
       'Tamaulipas', 'Shat-Al-Arab River',
       'Between Kwajalein Atoll & Johnston Island', 'Attica',
       'Adana Province', 'Bandar Ma\x92shur sea inlet', 'Saipan',
       'Cap Vert Peninsula', 'Kwajalein', 'Khuzestan Province',
       'Dar-es-Salaam ', 'Ryukyu', ' North Carolina',
       'In transit between Tinian and Leyte', 'Tel Aviv',
       '300 miles east of Luzon', 'Bernardino Strait near Gulf of Leyte',
       'Off Samar Island in the Gulf of Leyte', 'Near the Fiji Islands',
       'Northwest of Papua New Guinea', 'Makora-Ulawa Province',
       '04.05N-13.23W', 'Midway Atoll', 'West of Ceylon (Sri  Lanka)',
       'Off Libya', 'North of Pernambuco, Brazil', 'Trelawney Province',
       'In Convoy OB 274', 'Torres Strait ', 'North China',
       'Lower San Juan River', 'Nicoya Peninsula', 'Basrah City',
       'West Bengal', 'Queensland ', 'Argyllshire', 'Arran', 'Argyll',
       'Colon Province', 'Fishing Grounds', 'Newfoundland',
       'Isle of Wight', 'Makira-Uluwa Province', 'Herzliyah',
       'Elqui Province', 'Istanbul', 'St Michael Parish',
       'Havana Province', 'Barlavento Islands', 'Viti Levu Island',
       'Bay of Fundy', 'Manila', 'French Southern Territories',
       'Black River', 'Limón Province', 'Phoenix Islands',
       'Cienfuegos Province', 'Valencia', 'Santiago Island',
       'Porto Seguro', 'Salinas Bay',
       'Golfo di Genova in the Ligurian Sea', 'Sants-Montjic',
       'South of the Equator ', 'Valencia ', 'Vancouver',
       '2 to 3 miles off Taboguilla Island, Pacific Ocean', 'Dorset',
       '150 miles offshore', 'Galica', 'Demerara County', 'Vera Cruz',
       'Lucy', 'East Yorkshire', 'Westmoreland Parish',
       'Cavite Province, Luzon', 'Cape Haitien', 'Leyte', 'Halifax',
       'Turtle Bogue', 'Off Ireland', 'Gran Canaria', 'Apolima Strait',
       'Essequibo', 'Lagos ', 'Trieste', 'Viti Levu group', 'Málaga ',
       'Chatham Islands', 'Georges Bank', 'Zambesi River',
       'Colón Province', '30 nm from Singapore', 'Andalucia', 'Sfax',
       'South Atlantic Ocean', 'Galicia', 'Gulf of Suez', 'Java',
       'Tiburon Peninsula', 'English Channel', 'Oaxaca',
       'Harare Province', 'Maluku Province', 'Suez Canal',
       ' Nusa Tenggara', 'Between Noumea & Sydney', 'Ancona Province',
       'Rio San Juan', 'Southern Cyprus', 'Syracuse', 'Western Viscayas',
       'Mindoro Occidental', 'Mediterranean Sea', 'Negros ',
       'Imperia Province', 'Muala', 'East coast', 'Ratak ',
       'Socotra Islands', 'Moluccas', 'Bocas del Toro', 'Provence',
       'Bay of Campeche', 'Rangoon', 'Bay of Bengal', 'Bayelsa State',
       'South Island?', 'Norfolk Island', 'Brittany', 'Out Islands',
       'Line Islands', 'Woodlark Islands', 'Munxar Reef',
       'Northern Peloponnese', 'Between Perth & Colombo', 'Gujarat',
       'Lukovo', 'Cortés', 'Gulf of California', "Côte d'Azur  ",
       'Maldonado coast', 'Western Banks', 'Andaman Islands', 'East Java',
       'Off the coast of West Africa', 'Misamis Oriental',
       'Strait of Messina', 'Cyclades archipelago', 'Veracruz ',
       'Gilbert Islands', 'Lomaiviti Provine', '22ºN, 88ºE',
       'Hoogly River', 'Villa Clara Province', 'Alpes Maritime',
       'Eastern Catalona', 'Foveaux Strait', 'Conakry Region', 'Malaga',
       'Fernando Po Island', 'Mangaia Island', 'New York ', 'Corfu ',
       'Between Australia & USA', 'Tongatapu', 'Corfu',
       'Island of St. Thomas', 'Matanzas Province (north coast)',
       'Cumberland', 'Sanma Province', "35º39 : 165º8'", 'CUBA',
       'Rivers State', 'Maharashtra', 'St Helena', 'Sussex',
       'Southwest coast'], dtype=object)

## 3.3 Location

In [43]:
df['Location'].unique()

array(['Oceanside, San Diego County', 'St. Simon Island, Glynn County',
       'Habush, Oahu', ..., 'Damiscotte', 'Carlisle Bay',
       'Strait of Messina'], dtype=object)

In [44]:
len(df['Location'].unique())

3632

# 4. Limpieza Activity

In [45]:
df['Activity'].unique()

array(['Paddling', 'Standing', 'Surfing', ...,
       "Standing on landed shark's tail", 'Dropped overboard',
       'Washing himself'], dtype=object)

In [46]:
len(df['Activity'].unique())

1277

# 5. Limpieza Name

In [47]:
df['Name'].unique()

array(['Julie Wolfe', 'Adyson\xa0McNeely ', 'John Denges', ...,
       'Joseph Feron', '2 impressed seamen',
       'Samuel Jennings, a deserter from the British frigate Milford'],
      dtype=object)

In [48]:
len(df['Name'].unique())

4655

# 8. Limpieza Sex y Age

## 8.1 Sex

In [49]:
df['Sex '].unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

In [57]:
def limpiar_genero(df, columna):
    df[columna] = df[columna].astype(str)
    df[columna] = df[columna].apply(lambda x: re.sub(r'[^\w\s]','',x))  # eliminar todos los símbolos
    df[columna] = df[columna].apply(lambda x: re.sub(r'\s+','',x))  # eliminar espacios en blanco
    df[columna] = np.where(df[columna].str.contains('^F|^f|^Fe|^fe', regex=True), 'F',
                           np.where(df[columna].str.contains('^M|^m|^Ma|^ma', regex=True), 'M', np.nan))
    return df

In [58]:
limpiar_genero(df, 'Sex ')

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018-06-25,2018-06-25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57.0,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-25,2018-06-25,6303.0,NaN,NaN
1,2018-06-18,2018-06-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11.0,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-18,2018-06-18,6302.0,NaN,NaN
2,2018-06-09,2018-06-09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48.0,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-09,2018-06-09,6301.0,NaN,NaN
3,2018-06-08,2018-06-08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-08,2018-06-08,6300.0,NaN,NaN
4,2018-06-04,2018-06-04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-04,2018-06-04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6150,1753-10-27,1753-10-27,1753.0,Unprovoked,JAMAICA,NaN,Kingston Harbor,Fell overboard,male,M,NaN,FATAL,Y,NaN,NaN,"Maryland Gazette, 1/31/1754",1753.10.27.R-Jamaica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1753-10-27,1753-10-27,153.0,NaN,NaN
6151,1751-07-27,1751-07-27,1751.0,Unprovoked,USA,Massachusetts,NaN,Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"Pennsylvania Gazette, 8/15/1751",1751.07.27-Massachusetts.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1751-07-27,1751-07-27,152.0,NaN,NaN
6155,1742-12-17,1742-12-17,1742.0,Unprovoked,nan,NaN,Carlisle Bay,Swimming,2 impressed seamen,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1742.12.17-AdviceSeamen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1742-12-17,1742-12-17,148.0,NaN,NaN
6156,1738-04-06,1738-04-06,1738.0,Unprovoked,ITALY,Sicily,Strait of Messina,Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1738.04.06.R-Messina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1738-04-06,1738-04-06,147.0,NaN,NaN
6160,1703-03-26,1703-03-26,1703.0,Unprovoked,BARBADOS,Southwest coast,Carlisle Bay,Swimming,"Samuel Jennings, a deserter from the British f...",M,19.0,"Hand and foot severely bitten, surgically ampu...",N,Night,NaN,"W.R.Cutter, Vol.1, p.252",1703.03.26-Jennings.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1703-03-26,1703-03-26,143.0,NaN,NaN

In [59]:
df['Sex '].unique()

array(['F', 'M', 'nan'], dtype=object)

## 8.2 Age

In [53]:
df['Age'].unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '30', '60', '33', '29', '54', '34', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', '32 & 30', '16 to 18', '87', '67', 'Elderly', 'mid-20s',
       '74 ', '45 ', '21 or 26', '20 ', '>50', '18 to 22', 'adult',
       '9 & 12', '? & 19', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '13 or 18', '34 & 19', '33 & 26',
       'MAKE LINE GREEN', ' 43', '81', '"young"', '17 & 16', 'F',
       'Both 11', '9 or 10', 'young', '36 & 23', '  ', '78', 'A.M.',
       '?    &   14', '10 or 12', '31 or 33', '2½', '1'], dtype=object)

In [54]:
def age_filt(x):
    x=str(x)
    age_pattern = r"\b(\d{2})\b"  # Extracts two-digit numbers
    match = re.search(age_pattern, x)
    
    if match:
        age = int(match.group(1))
        return int(age)
    else:
        return np.nan

In [55]:
df['Age'] = df['Age'].apply(age_filt)
df['Age']

0       57.0
1       11.0
2       48.0
3        NaN
4        NaN
        ...
6150     NaN
6151     NaN
6155     NaN
6156     NaN
6160    19.0
Name: Age, Length: 5427, dtype: float64

In [56]:
df['Age'].unique()

array([57., 11., 48., nan, 18., 52., 15., 12., 32., 10., 21., 30., 60.,
       33., 29., 54., 34., 41., 37., 56., 19., 25., 69., 38., 55., 35.,
       46., 45., 14., 28., 20., 24., 26., 49., 22., 31., 17., 40., 13.,
       42., 50., 16., 82., 73., 68., 51., 39., 58., 47., 61., 65., 36.,
       66., 43., 72., 59., 27., 64., 23., 71., 44., 62., 63., 70., 53.,
       77., 74., 86., 84., 75., 87., 67., 81., 78.])